<button class="js-delete-btn delete-btn--custom"
        data-ajax-url="{{ path('Khalil1608_lib.admin.ajax_delete') }}"
        data-entity-id="{{ entityId|default('') }}"
        data-entity-class="{{ entityClass }}"
        type="button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>