parameters:
  env(PAGE_SIZE): 30
  env(APP_TOKEN): ~
  upload_dir: /uploads
  mediaClassName: null
  env(TEST_TOKEN): "1"
  env(MUTE_OPS_ALERTS): false
  env(ERROR_CHANNEL): ''
  env(ERROR_EMAIL): ''
  env(POST_DEPLOY_SLACK_CHANNEL): ''
  env(TURNSTILE_SECRET_KEY): ''
  env(TURNSTILE_SITE_KEY): ''
  env(ANTI_ROBOT_DEFAULT_VERIFIER): 'honeypot' # 'turnstile' or 'honeypot'

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false
    bind:
      $container: '@service_container'
      $requestStack: '@request_stack'
      $slackToken: '%env(resolve:SLACK_TOKEN)%'
      $backupBucket: '%env(resolve:BACKUP_BUCKET)%'
      $listPageSize: '%env(resolve:PAGE_SIZE)%'
      $currentEnv: '%env(resolve:APP_ENV)%'
      $appToken: '%env(resolve:APP_TOKEN)%'
  
  # auto-register Service
  UbeeDev\LibBundle\:
    resource: '../src/*'
    exclude: '../src/{Entity}'
  
  # controllers are imported separately to make sure they're public
  # and have a tag that allows actions to type-hint Service
  UbeeDev\LibBundle\Controller\:
    resource: '../src/Controller'
    tags: [ 'controller.service_arguments' ]

  UbeeDev\LibBundle\Service\EmailProvider\Mailchimp\BulkEmailProvider:
    arguments:
      $apiKey: '%env(MAILER_PASSWORD)%'
  
  UbeeDev\LibBundle\Service\DatabaseDumperInterface: '@UbeeDev\LibBundle\Service\DatabaseDumper\MysqlDumper'

  UbeeDev\LibBundle\Service\ObjectStorageInterface: '@UbeeDev\LibBundle\Service\ObjectStorage\S3ObjectStorage'

  UbeeDev\LibBundle\Service\ObjectStorage\S3ObjectStorage:
    arguments:
      $key: '%env(OBJECT_STORAGE_KEY)%'
      $secret: '%env(OBJECT_STORAGE_SECRET)%'
      $region: '%env(OBJECT_STORAGE_REGION)%'

  UbeeDev\LibBundle\Service\ObjectStorage\OvhObjectStorage:
    arguments:
      $key: '%env(OBJECT_STORAGE_KEY)%'
      $secret: '%env(OBJECT_STORAGE_SECRET)%'
      $region: '%env(OBJECT_STORAGE_REGION)%'
      $endpoint: '%env(OBJECT_STORAGE_ENDPOINT)%'
  
  UbeeDev\LibBundle\Producer\EmailProducer:
    $producer: '@old_sound_rabbit_mq.send_email_producer'
  
  UbeeDev\LibBundle\Producer\BulkEmailProducer:
    $producer: '@old_sound_rabbit_mq.send_bulk_email_producer'
  
  UbeeDev\LibBundle\Producer\ErrorProducer:
    $producer: '@old_sound_rabbit_mq.error_producer'
  
  UbeeDev\LibBundle\Producer\SlackNotificationProducer:
    $producer: '@old_sound_rabbit_mq.send_slack_notification_producer'
  
  UbeeDev\LibBundle\Producer\CompressPdfProducer:
    $producer: '@old_sound_rabbit_mq.compress_pdf_producer'
  
  Doctrine\Migrations\Version\DbalMigrationFactory: ~
  UbeeDev\LibBundle\Migrations\Factory\MigrationFactoryDecorator:
    decorates: Doctrine\Migrations\Version\DbalMigrationFactory
    arguments: [ '@UbeeDev\LibBundle\Migrations\Factory\MigrationFactoryDecorator.inner', '%env(APP_ENV)%', '@doctrine.orm.entity_manager', '@kernel' ]

  UbeeDev\LibBundle\Service\EmailProvider\Mailchimp\EmailProvider:
    arguments:
      $apiKey: '%env(MAILER_PASSWORD)%'
  
  UbeeDev\LibBundle\Service\EmailProvider\EmailProviderInterface: '@UbeeDev\LibBundle\Service\EmailProvider\Mailchimp\EmailProvider'
  UbeeDev\LibBundle\Service\EmailProvider\BulkEmailProviderInterface: '@UbeeDev\LibBundle\Service\EmailProvider\Mailchimp\BulkEmailProvider'
  
  UbeeDev\LibBundle\Serializer\DateTimeNormalizer:
    tags:
      - { name: serializer.normalizer }
  
  UbeeDev\LibBundle\EventListener\InvalidArgumentExceptionListener:
    tags:
      - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 9 }
  
  UbeeDev\LibBundle\ValueResolver\EmailValueResolver:
    tags:
      - controller.argument_value_resolver:
          name: email
          priority: 150
          
  UbeeDev\LibBundle\Service\SlackManager:
    arguments:
      $muteOpsAlerts: '%env(bool:MUTE_OPS_ALERTS)%'

  UbeeDev\LibBundle\Consumer\ErrorConsumer:
    arguments:
      $errorChannel: '%env(ERROR_CHANNEL)%'
      $errorEmail: '%env(ERROR_EMAIL)%'

  UbeeDev\LibBundle\Command\ExecutePostDeployCommand:
    arguments:
      $postDeploySlackChannel: '%env(POST_DEPLOY_SLACK_CHANNEL)%'
      
  Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler:
    arguments: [ '@snc_redis.default' ]
    
  # Factory pour les vérificateurs anti-robot
  UbeeDev\LibBundle\Service\AntiRobot\AntiRobotVerifierFactory:
    arguments:
      $defaultVerifier: '%env(ANTI_ROBOT_DEFAULT_VERIFIER)%'
      $verifiers: !tagged_iterator app.anti_robot_verifier
  
  # Implémentation Honeypot (utilise FormManager existant)
  UbeeDev\LibBundle\Service\AntiRobot\HoneypotVerifier:
    arguments:
      $formManager: '@UbeeDev\LibBundle\Service\FormManager'
    tags:
      - { name: 'app.anti_robot_verifier' }
  
  # Implémentation Turnstile (optionnelle)
  UbeeDev\LibBundle\Service\AntiRobot\TurnstileVerifier:
    arguments:
      $secretKey: '%env(TURNSTILE_SECRET_KEY)%'
      $siteKey: '%env(TURNSTILE_SITE_KEY)%'
    tags:
      - { name: 'app.anti_robot_verifier' }
  
  # Compiler pass pour enregistrer automatiquement les vérificateurs
  UbeeDev\LibBundle\DependencyInjection\Compiler\AntiRobotVerifierPass:
    tags:
      - { name: kernel.compiler_pass }
  
  # Extension Twig pour exposer les données du vérificateur
  UbeeDev\LibBundle\Twig\AntiRobotExtension:
    arguments:
      - '@UbeeDev\LibBundle\Service\AntiRobot\AntiRobotVerifierFactory'
    tags:
      - { name: twig.extension }
    
    
when@test:
  parameters:
    env(IS_CI): ""
    env(SLACK_TOKEN): ""
    env(SLACK_NOTIFICATION_TS): ""
    mediaClassName: 'UbeeDev\LibBundle\Tests\Helper\DummyMedia'
    
  services:
    _defaults:
      autowire: true
      autoconfigure: true
      public: false
      
    UbeeDev\LibBundle\Service\FormManager:
      arguments:
        $blockBots: false
    
    UbeeDev\LibBundle\Tests\Helper\ValidationReporter:
      public: true
  
    UbeeDev\LibBundle\Tests\Helper\Factory:
      public: true
    UbeeDev\LibBundle\Tests\Helper\Cleaner:
      arguments:
        $currentEnv: '%env(APP_ENV)%'
      
    UbeeDev\LibBundle\Tests\Behat\CommonContext:
      arguments:
        $testToken: "%env(TEST_TOKEN)%"
        $isCI: "%env(IS_CI)%"
        $slackNotificationTs: "%env(SLACK_NOTIFICATION_TS)%"
      
    UbeeDev\LibBundle\Tests\Helper\FakeEmailProvider:
      arguments:
        $testToken: "%env(TEST_TOKEN)%"

    UbeeDev\LibBundle\Tests\Helper\ContextState:
    UbeeDev\LibBundle\Tests\Helper\FactoryInterface: '@UbeeDev\LibBundle\Tests\Helper\Factory'
    UbeeDev\LibBundle\Tests\Helper\CleanerInterface: '@UbeeDev\LibBundle\Tests\Helper\Cleaner'
    UbeeDev\LibBundle\Tests\Helper\ContextStateInterface: '@UbeeDev\LibBundle\Tests\Helper\ContextState'
    UbeeDev\LibBundle\Service\EmailProviderInterface: '@UbeeDev\LibBundle\Tests\Helper\FakeEmailProvider'
    UbeeDev\LibBundle\Service\EmailProvider\EmailProviderInterface: '@UbeeDev\LibBundle\Tests\Helper\FakeEmailProvider'
    
    UbeeDev\LibBundle\Tests\Helper\HttpMock:
      arguments:
        $testToken: '%env(TEST_TOKEN)%'
    
    UbeeDev\LibBundle\Tests\Helper\DummyController:
      tags: [ 'controller.service_arguments' ]
      
    UbeeDev\LibBundle\Producer\EmailProducer:
      class: UbeeDev\LibBundle\Tests\Helper\EmailProducerStub
      arguments:
        $producer: '@old_sound_rabbit_mq.send_email_producer'
        $currentEnv: 'test'
    
    UbeeDev\LibBundle\Tests\Helper\MonologCISlackHandler:
      arguments:
        $isCi: '%env(IS_CI)%'
        $slackNotificationTs: "%env(SLACK_NOTIFICATION_TS)%"
        $token: '%env(SLACK_TOKEN)%'
        $channel: 'ci'
        $level: 'critical'
        
when@dev:
  parameters:
    env(IS_CI): "false"
    env(SLACK_TOKEN): ""
    env(SLACK_NOTIFICATION_TS): ""
  services:
    _defaults:
      autowire: true
      autoconfigure: true
      public: false
    
    UbeeDev\LibBundle\Tests\Helper\Factory:
    UbeeDev\LibBundle\Tests\Helper\Cleaner:
      arguments:
        $currentEnv: '%env(APP_ENV)%'
        
    UbeeDev\LibBundle\Tests\Helper\CleanerInterface: '@UbeeDev\LibBundle\Tests\Helper\Cleaner'
    
    UbeeDev\LibBundle\Tests\Helper\HttpMock:
      arguments:
        $testToken: '%env(TEST_TOKEN)%'
        
    UbeeDev\LibBundle\Tests\Helper\FakeEmailProvider:
      arguments:
        $testToken: "%env(TEST_TOKEN)%"
    
    UbeeDev\LibBundle\Service\EmailProviderInterface: '@UbeeDev\LibBundle\Tests\Helper\FakeEmailProvider'
    UbeeDev\LibBundle\Service\EmailProvider\EmailProviderInterface: '@UbeeDev\LibBundle\Tests\Helper\FakeEmailProvider'