.iframe-with-loader-container {
  text-align: center;

  iframe {
    width: 100%;
    height: 100%;
    display: none;
    border: none;
  }

  &_loaded {
    iframe {
      display: block;
    }
  }
}