<div class="form-group" id="js-wrapper-as">
    <label for="as_first">Merci de ne pas remplir le champ</label>
    <input type="text" name="as_first" id="as_first" pattern="[a-z0-9]*$" placeholder="Remarque 1...">
</div>