{% trans_default_domain "frontend" %}

<div id="js-modal_gallery" class="modal modal_gallery bh-gallery-modal">
    <div class="modal__dialog" role="document">
        <div class="modal__container">

            <button type="button" class="btn btn_dark btn_icon modal_gallery__close js-modal__close" aria-label="{{ 'ubee_dev_lib.layout.modal.close'|trans }}">
                <i class="fa fas fa-times"></i>
            </button>

            <div class="modal_gallery__content js-modal__content"></div>
        </div>
    </div>
</div>
